argparse
colorama
dashscope
opencv-python
pyshine
pyyaml
requests
langchain
langchain-openai
selenium
webdriver_manager
numpy
Pillow
customtkinter

# Add the missing packages
sounddevice
matplotlib
keras
